# Dependencies
node_modules/
package-lock.json

# Build
dist/

# Coverage
coverage/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Cache
.eslintcache
*.tsbuildinfo

# Module Federation temp
**/__mf__temp/
**/.__mf__temp/

# Test
test-results/
playwright-report/
.playwright/
e2e/debug.spec.ts

# Changeset
.changeset/*.md
!.changeset/config.json

# MSW
**/mockServiceWorker.js
